/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
    font-family: 'Google Sans Text';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=5aUu9-KzpRiLCAt4Unrc-xIKmCU5mEhkgo3FI_E8lH570oBdIw&skey=b20c8ebc9802c116&v=v21) format('woff2');
}

#reason {
    background-color: #fff;
    position: relative;
    padding: 60px 0;
}

article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog {
    display: block;
}

.container, .container-fluid, section {
    position: relative;
    word-wrap: break-word;
}

section {
    /*background-color: #eee;*/
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#reason .reason-header {
    margin: 0 auto 20px;
    max-width: 70%;
}

div h2:first-child {
    margin-top: 0px !important;
}

.align-center {
    text-align: center;
}

@media (max-width: 768px) {
    .display-2 {
        font-size: 2.2rem !important;
        font-size: calc(2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
    }

    .mota {
        padding: 20px 20px !important
    }

    .archive-title h1 {
        font-size: 22px !important;
    }

    .breadcrumbs-page {
        padding-left: 20px !important;
    }
}

.display-2 {
    font-family: "Montserrat",sans-serif;
    font-size: 2rem !important;
    font-weight: 600;
}

.mbr-bold {
    font-weight: 700;
}

@media (max-width: 767px) {
    .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
        text-align: center;
    }
}

.align-center {
    text-align: center;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}

#reason .container .reason-content-desktop {
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 1023px) {
    #reason .container .reason-content-desktop {
        display: none;
    }
}

#reason .container .reason-content-mobile {
    display: none;
}

@media (max-width: 1023px) {
    #reason .container .reason-content-mobile {
        display: block;
    }
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

    .owl-carousel, .owl-carousel .owl-item {
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }

        .owl-carousel .owl-stage-outer {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0,0,0);
        }

        .owl-carousel .owl-stage {
            position: relative;
            -ms-touch-action: pan-Y;
            touch-action: manipulation;
            -moz-backface-visibility: hidden;
        }

element.style {
    width: 444px;
    margin-right: 20px;
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.reason-carousel .reason-item {
    text-align: center;
}

    .reason-carousel .reason-item .item-box img {
        width: auto;
        display: inline-block;
        max-height: 50px;
    }

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.owl-nav .owl-prev {
    position: absolute;
    left: -5%;
    top: 35%;
    padding: 0 10px 15px 10px !important;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-nav .owl-next {
    position: absolute;
    right: -5%;
    top: 35%;
    padding: 0 10px 15px 10px !important;
}

/* PROJECT ARBARO*/

#page-body {
    overflow: hidden;
    width: 95% !important;
    margin: auto;
}

#section-du-an {
    overflow: hidden;
}

article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog {
    display: block;
}


.align-center {
    text-align: center;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
}

@media only screen and (max-width: 860px) {
    .wrapper {
        width: 480px !important;
    }

    .spacer.spacer-small {
        height: 30px;
    }

    .spacer.spacer-small {
        height: 30px;
    }

    p a:not(.sr-button) {
        text-decoration: underline;
    }
}


div ul:first-child, li ul:first-child {
    margin-top: 0;
}

.filter {
    margin: 0;
    padding: 0;
    list-style: none;
}

wrapper:after, .wrapper-small:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.align-center .filter li {
    padding: 0 10px 10px 10px;
}

/*ul li:first-child, ol li:first-child {
    margin-top: 0;
}*/

.filter li {
    padding: 0 20px 10px 0;
    margin: 0;
    display: inline-block;
}

    /*ul li, ol li {
    margin-top: 10px;
}*/

    .filter li a {
        display: block;
        position: relative;
        font-family: "Montserrat",sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #0d0d0d;
        line-height: 20px;
        padding-left: 0.1em;
    }

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.filter li a:hover:after, .filter li a.active:after {
    width: 100%;
    margin-left: -50%;
}

.filter li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 0%;
    width: 0%;
    height: 1px;
    background: #0d0d0d;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
}

.filter li a:hover:after, .filter li a.active:after {
    width: 100%;
    margin-left: -50%;
}

.filter li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 0%;
    width: 0%;
    height: 1px;
    background: #0d0d0d;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.filter {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper:after, .wrapper-small:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

#page-body .section-inner > * {
    font-family: "Montserrat",sans-serif;
}

.spacer.spacer-small {
    height: 40px;
}

.spacer {
    width: 100%;
    display: block;
}

#grid-du-an.masonry.masonry-spaced {
    width: calc(113% - 160px);
    margin-left: 80px;
}

@media (max-width:991px) {
    #grid-du-an.masonry.masonry-spaced {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 640px) {
    .masonry-spaced .masonry-item {
        margin-right: 20px;
        margin-bottom: 40px;
    }
}


.masonry .masonry-item {
    margin: 5px;
}

@media screen and (max-width: 480px) {
    .masonry .masonry-item {
        width: 100% !important;
    }
}



#grid-du-an {
    margin-bottom: 30px;
}

    #grid-du-an.masonry.masonry-spaced {
        width: calc(113% - 160px);
        margin-left: 80px;
    }

@media (max-width: 991px) {
    #grid-du-an.masonry.masonry-spaced {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.masonry-spaced .masonry-item {
    margin-right: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 640px) {
    .masonry-spaced .masonry-item {
        margin-right: 20px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1120px) {
    .masonry.masonry-spaced {
        width: calc(113% - 120px);
        margin-left: 60px;
        margin-bottom: -60px;
    }

    .masonry-spaced .masonry-item {
        margin-right: 60px;
        margin-bottom: 60px;
    }

    .wrapper {
        width: 730px;
    }

    .section-inner {
        padding-top: 100px;
    }

    /* .section-inner {
        padding-top: 120px;
    }*/
}

.masonry .masonry-item {
    margin: 5px;
}

.masonry-spaced .masonry-item {
    margin-right: 80px;
    margin-bottom: 80px;
}

.masonry .masonry-item {
    width: 24.98%;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
}

.imgoverlay.name-hidden .overlaycaption .overlay-name {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.imgoverlay .overlaycaption .overlay-name, .imgoverlay .overlaycaption .alttitle, .imgoverlay .overlaycaption .separator, .imgoverlay .overlaycaption .separator-small {
    color: #fff;
}

.imgoverlay .overlaycaption .overlay-name {
    line-height: normal;
}

.imgoverlay .overlaycaption .overlay-name, .imgoverlay .overlaycaption .alttitle, .imgoverlay .overlaycaption .separator, .imgoverlay .overlaycaption .separator-small {
    color: #0d0d0d;
    margin: 0px !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

h5.overlay-name.title-minimal {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
}

.title-minimal {
    text-transform: uppercase;
    letter-spacing: .15em;
}

@media only screen and (max-width: 1120px) {
    h5, .h5 {
        font-size: 18px !important;
        line-height: 26px !important;
    }
}

.imgoverlay {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%;
    text-align: center;
}

.masonry .masonry-item:after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
}

.imgoverlay .overlaycaption {
    width: 100%;
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.imgoverlay > a {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.portfolio-thumb .imgoverlay:after, .portfolio-carousel-item .imgoverlay:after {
    background: #fff;
}

.portfolio-thumb .imgoverlay:after, .portfolio-carousel-item .imgoverlay:after {
    background: rgba(0,0,0,.21) !important;
}

.imgoverlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* END PROJECT ARBARO*/
page-body .section-inner > * {
    font-family: "Montserrat",sans-serif;
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        width: 900px;
    }
}

.align-center {
    text-align: center;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
}



div ul:first-child, li ul:first-child {
    margin-top: 0;
}

.filter {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper:after, .wrapper-small:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

align-center .filter li {
    padding: 0 10px 10px 10px;
}

.filter li {
    padding: 0 20px 10px 0;
    margin: 0;
    display: inline-block;
}

filter li a {
    display: block;
    position: relative;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #0d0d0d;
    line-height: 20px;
    padding-left: 0.1em;
}

.spacer.spacer-small {
    height: 40px;
}

.spacer {
    width: 100%;
    display: block;
}

    .spacer.spacer-small {
        height: 40px;
    }

.filter li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 0%;
    width: 0%;
    height: 1px;
    background: #0d0d0d;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
}

.filter li a:hover:after, .filter li a.active:after {
    width: 100%;
    margin-left: -50%;
}


/** Project detail */
#gallery-grid-sc .masonry-item a {
    padding: 3px 3px
}

#gallery-grid-sc .masonry-item a {
    overflow: hidden;
    display: block;
    max-width: 100%
}

    #gallery-grid-sc .masonry-item a img {
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1)
    }

    #gallery-grid-sc .masonry-item a:hover img {
        -webkit-transition: all 8s ease;
        -moz-transition: all 8s ease;
        -o-transition: all 8s ease;
        -ms-transition: all 8s ease;
        transition: all 8s ease;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1)
    }

/*.item_pro img {
    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    -ms-transition: all 8s ease;
    transition: all 8s ease;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}*/
.item_pro {
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

/*.item_pro :hover {
        -webkit-transition: all 8s ease;
        -moz-transition: all 8s ease;
        -o-transition: all 8s ease;
        -ms-transition: all 8s ease;
        transition: all 8s ease;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }*/

/*.item_pro:hover:after {
    opacity: .75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"
}*/
/*.products {
    padding: 10px;
    margin: 0 20px;
}*/

.products-details {
    padding: 0px;
    margin: 0px;
}

/**PHong cach thiet ke*/
.int_blog_category {
    padding: 50px 0;
    font-family: "Montserrat",sans-serif;
}

.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

    .pure-g [class*=pure-u] {
        font-family: sans-serif;
    }

/*@media screen and (min-width: 64em) .pure-u-lg-16-24, .pure-u-lg-2-3 {
    width: 66.6667%;
}*/

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
    width: 100%;
}

.int_blog_box {
    margin-bottom: 50px;
}

int_blog_post {
    font-family: "Montserrat",sans-serif;
}

.int_blog_post {
    padding: 0 10px;
}

div ul:first-child, li ul:first-child {
    margin-top: 0;
}

ul.breadcrumb-custom {
    padding: 10px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    margin-bottom: 20px;
}

.int_blog_post ul {
    list-style-type: disc;
    padding-inline-start: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul.breadcrumb-custom li {
    display: inline;
    font-size: 18px;
}

    /*ul li:first-child, ol li:first-child {
    margin-top: 0;
}*/

    /*ul li, ol li {
    margin-top: 10px;
}*/

    ul.breadcrumb-custom li a {
        color: #555;
        text-decoration: none;
    }

/*a {
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}*/

.int_blog_post p {
    color: #555;
    margin: 10px 0 25px;
    text-align: justify;
    font-family: "Montserrat",sans-serif;
}

p a {
    display: inline-block;
}

p a {
    color: #0d0d0d;
    position: relative;
}

strong, b, dt {
    font-weight: 600;
}

ul.breadcrumb-custom li + li:before {
    padding: 8px;
    color: #000;
    content: "/\00a0";
}

ul.breadcrumb-custom li {
    display: inline;
    font-size: 18px;
}

/*@media screen and (min-width: 64em) .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
}*/

.pure-g [class*=pure-u] {
    font-family: sans-serif;
}

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
    width: 100%;
}

.int_blog_sidebar {
    padding: 0 30px;
}

@media (max-width: 767px) {
    .int_blog_sidebar {
        margin-top: 47px;
    }
}

int_sidebar_box.recent_blog_one {
    margin-bottom: 38px;
}

.int_sidebar_box {
    margin-bottom: 46px;
}

    .int_sidebar_box.recent_blog_one .title {
        font-size: 1.5em;
        font-weight: 700;
        color: #555;
        text-align: center;
        display: block;
        margin: 0 15px 10px;
        padding: 10px 0;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    .int_sidebar_box .title {
        position: relative;
        color: #222;
        font-size: 22px;
        border-bottom: solid 3px #f1f1f1;
        display: inline-block;
        padding-bottom: 10px;
        font-weight: 700;
    }

        .int_sidebar_box .title:after {
            position: absolute;
            content: "";
            width: 360px;
            height: 1px;
            background-color: #efefef;
            bottom: -2px;
            left: 0;
            z-index: -1;
        }

div ul:first-child, li ul:first-child {
    margin-top: 0;
}

.int_blog_insta_post ul {
    margin: 0 15px;
}

.int_blog_insta_post ul {
    list-style-type: none;
}

    .int_blog_insta_post ul li {
        background-color: #fff;
    }

        .int_blog_insta_post ul li a {
            display: inline-block;
            margin-bottom: 6px;
            position: relative;
            overflow: hidden;
            width: 100%;
        }

            .int_blog_insta_post ul li a img {
                -webkit-transition: 0.4s ease-in-out;
                transition: 0.4s ease-in-out;
                -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
                width: 100%;
                max-height: 12rem;
                height: auto
            }

.int_blog_insta_post .project-name {
    text-align: left;
    color: #000;
    padding: 5px 15px 10px 0;
    font-size: 18px;
}

.int_blog_insta_post ul li a {
    display: inline-block;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*media screen and (min-width: 64em)
.pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
}*/

.pure-u-lg-1-3, .pure-u-lg-2-3 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.imgoverlay:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.imgoverlay.overlay-transparent:hover:after {
    opacity: .75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"
}

.imgoverlay.overlay-border:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.imgoverlay > a {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px
}

.imgoverlay.overlay-border > a {
    border: 0 solid #0d0d0d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease
}

.imgoverlay.overlay-dark.overlay-border a {
    border-color: #fff
}

.imgoverlay.overlay-border:hover a {
    border-width: 16px
}

.imgoverlay .overlaycaption {
    width: 100%;
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}

    .imgoverlay .overlaycaption .overlay-name, .imgoverlay .overlaycaption .alttitle, .imgoverlay .overlaycaption .separator, .imgoverlay .overlaycaption .separator-small {
        color: #fff;
        margin: 0px !important;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        transition: all 400ms ease;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0)
    }

    .imgoverlay .overlaycaption .overlay-name {
        line-height: normal
    }

.imgoverlay.name-hidden .overlaycaption .overlay-name {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.imgoverlay .overlaycaption .alttitle {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 400ms 0.1s ease;
    -moz-transition: all 400ms 0.1s ease;
    -o-transition: all 400ms 0.1s ease;
    -ms-transition: all 400ms 0.1s ease;
    transition: all 400ms 0.1s ease
}

.imgoverlay.overlay-dark .overlaycaption .overlay-name, .imgoverlay.overlay-dark .overlaycaption .alttitle {
    color: #fff
}

.imgoverlay:not(.overlay-simple):hover .overlaycaption .overlay-name {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    margin-top: -24px !important
}

.imgoverlay:hover .overlaycaption .overlay-name {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}


element.style {
    position: relative;
    height: 39540.7px;
}

#grid-du-an.masonry.masonry-spaced {
    width: calc(113% - 160px);
    margin-left: 80px;
}

@media (max-width: 991px) {
    #grid-du-an.masonry.masonry-spaced {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

#page-body .section-inner > * {
    font-family: "Montserrat",sans-serif;
}

#grid-du-an {
    margin-bottom: 30px;
}

.masonry.masonry-spaced {
    width: calc(113% - 10px);
    margin-left: 5px;
    margin-bottom: -5px;
}

@media only screen and (max-width: 640px) {
    .masonry.masonry-spaced {
        width: calc(113% - 40px);
        margin-left: 20px;
        margin-bottom: -40px;
    }
}

@media only screen and (max-width: 1120px) {
    .masonry.masonry-spaced {
        width: calc(113% - 120px);
        margin-left: 60px;
        margin-bottom: -60px;
    }
}

.masonry.masonry-spaced {
    width: calc(113% - 160px);
    margin-left: 80px;
    margin-bottom: -80px;
}

.masonry {
    width: 113%;
}

.clearfix {
    *display: inline-block;
    height: 1%;
}

    .clearfix:before {
        display: table;
        content: " ";
    }

.masonry .masonry-item:after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
}

overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog {
    display: block;
}

img, object, video {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

/** du an chi tiet*/
#gallery-grid-sc {
    overflow: hidden;
}

#portfolio-single {
    overflow: hidden;
}


@media only screen and (max-width: 1120px) {
    .notoppadding .section-inner {
        padding-top: 0;
    }
}

.notoppadding .section-inner {
    padding-top: 0;
}

@media only screen and (max-width: 1120px) {
    .section-inner {
        padding-top: 100px;
    }
}

.section-inner {
    padding-top: 120px;
}

.masonry .masonry-item {
    margin: 5px;
}

@media screen and (max-width: 480px) {
    .masonry .masonry-item {
        width: 100% !important;
    }
}

.masonry .masonry-item {
    width: 24.98%;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
}

#gallery-grid-sc .masonry-item a {
    padding: 3px 3px;
}

#gallery-grid-sc .masonry-item a {
    overflow: hidden;
    display: block;
    max-width: 100%;
}

.masonry .masonry-item:after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
}

@media screen and (max-width: 783px) {
    div.heateor_sss_bottom_sharing {
        display: none !important;
    }
}

/* .bordered header{
	top: 40px !important;
} */
.bordered .sticky-header {
    top: -100px !important;
}

#portfolio-single {
    overflow: hidden;
}

.masonry .masonry-item:after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
}

#gallery-grid-sc {
    /* 	height: auto !important;
	width: 100% !important; */
    overflow: hidden;
    /* 		display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
}
/* #gallery-grid-sc.masonry .masonry-item{
	position: relative !important;
	width: 100% !important;
	padding: 5px;
	transform: unset !important;
} */
#blog-leavecomment {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
}

#section-du-an {
    overflow: hidden;
}


/* Custom page liên hệ */
#title-wrap .main-title {
    font-size: 60px;
    color: #fff;
}

@media (max-width: 768px) {
    #title-wrap .main-title {
        font-size: 36px;
    }

    #custom-wrap-title #custom-page-title h1.title {
        width: 100%;
    }
}

.section-inner.custom {
    padding-bottom: 100px;
}

    .section-inner.custom .wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
    }

.elementor-11951 .elementor-element.elementor-element-cb4fde0 {
    top: 40% !important;
}

.blog-entry .blog-media {
    min-height: 200px;
}

    .blog-entry .blog-media img {
        height: 100%;
        object-fit: cover;
    }

/** New Grid w3chool Ref https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive 
    https://blog.logrocket.com/responsive-image-gallery-css-flexbox/
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.container-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal grid-imgs that sits next to each other */
.grid-img {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .grid-img img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two grid-img-layout instead of four grid-imgs */
@media screen and (max-width: 800px) {
    .grid-img {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two grid-imgs stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .grid-img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/** END New Grid w3chool*/
@media only screen and (max-width: 640px) {
    .bordered #page-content, .bordered.big-border #page-content {
        padding: 10px;
    }
}

/** custom to ARBARO*/
#bodyborder-left {
    left: 0 !important;
}

#bodyborder-right {
    right: 0 !important;
}

#bodyborder-top {
    top: 0 !important;
}

#bodyborder-bottom {
    bottom: 0 !important;
}


.bordered #bodyborder-top, .bordered #bodyborder-bottom, .bordered #bodyborder-left, .bordered #bodyborder-right {
    background: #f0f0f0 !important;
}

.loading-end.bordered #bodyborder-right, .disable-preloader.bordered #bodyborder-right {
    right: 0 !important;
}

/** Custom du an*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: rgba(57, 57, 57, 0.502);*/
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 20px;*/
    margin: auto;
    text-align: center;
}

/* hover */
.item_pro:hover .overlay {
    transform: scale(1);
    background: rgba(57, 57, 57, 0.502);
    /*  -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    -ms-transition: all 8s ease;
    transition: all 8s ease;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1)*/
}

.item_pro .item-pro-title {
    display: block;
    position: relative;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    line-height: 20px;
    width: calc(100% - 40px);
    /* padding-left: 0.1em;*/
}

.img-products-details {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

/** Custom style page*/
@media (max-width: 768px) {
    .item_pro .info-style {
        left: 6px;
        bottom: 5px;
        width: calc(100% - 12px);
    }
}

.item_pro .info-style {
    position: absolute;
    bottom: 0;
    /*left: 3%;*/
    width: 100%;
    z-index: 2;
    height: 60px;
    color: #fff;
    text-align: center;
    background: rgba(57, 57, 57, 0.502);
    /* background: rgba(0,0,0,.3);*/
}

.info-style .round-capt {
    /*position: absolute;*/
    width: calc(100% - 40px);
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: block;
}

.round-capt .capt {
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    width: calc(100% - 40px);
}

.item_pro:focus .img, .item_pro:hover .img {
    transform: scale(1);
    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    -ms-transition: all 8s ease;
    transition: all 8s ease;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}

/*.item_pro:hover .overlay .round-capt .capt {
    position: absolute;
    width: 100%;
    height: 100%;*/
/*background: rgba(57, 57, 57, 0.502);*/
/*top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;*/
/* center overlay content */
/*display: flex;
    align-items: center;
    justify-content: center;*/
/*margin: 0 20px;*/
/*margin: auto;
    text-align: center;
}*/

/*.item_pro .img:hover {
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 2;
    color: #fff;
    background: transparent;
    padding-bottom: 0;
}

.item_pro .img:hover {*/
/* background: rgba(0,0,0,.6);*/
/*background: rgba(57, 57, 57, 0.502);
}

.item_pro a:hover {
    transform: scale(1);
   

    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    -ms-transition: all 8s ease;
    transition: all 8s ease;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff !important;
}

@media (max-width: 812px) {
    .cid-qNA6O02OA1 .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 95% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (max-width: 991px) {
    .cid-qNA6O02OA1 .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 95% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

.cid-qNA6O02OA1 .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/*@media (max-width: 768px) {
    .columns-3, .columns-2 {
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 768px) {
    .columns-4, .columns-5, .columns-6 {
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 768px) {
    .item_pro .info {
        left: 6px;
        bottom: 5px;
        width: calc(100% - 12px);
    }
}

@media (max-width: 768px) {
    .item_pro .info .capt {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .item_pro .info .short_desc {
        font-size: 11px;
        -webkit-line-clamp: 2;
    }
}

@media (max-width: 768px) {
    .columns-4, .columns-5, .columns-6 {
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 768px) {
    .columns-3, .columns-2 {
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}
*/
@media only screen and (max-width: 640px) {
    .bordered #page-title.full-height, .bordered.big-border #page-title.full-height {
        min-height: -webkit-calc(100vh - 20px);
        min-height: -moz-calc(100vh - 20px);
        min-height: calc(100vh - 20px);
    }
}
/*** ABOUT US */
.page-about {
    font-size: 16px;
}

.page-about, body {
    font-family: Montserrat,sans-serif;
}

.page-about {
    overflow-x: hidden;
    line-height: normal !important;
}

@media (max-width: 1200px) {
    .page-about .mission .mission-content {
        margin: 10vw auto 5vw;
    }

    .page-about .detail-mission {
        padding: 0;
    }

        .page-about .detail-mission .detail {
            flex-direction: column;
            margin-top: 10vw;
        }

            .page-about .detail-mission .detail .detail-img {
                margin-bottom: 5vw;
            }

                .page-about .detail-mission .detail .detail-img img {
                    width: 100%;
                }

            .page-about .detail-mission .detail .detail-content {
                padding: 0 15px;
            }

                .page-about .detail-mission .detail .detail-content .sub-title {
                    margin-bottom: 5vw;
                }

        .page-about .detail-mission .detail-2 {
            flex-direction: column-reverse;
        }

        .page-about .detail-mission .detail {
            flex-direction: column;
            margin-top: 10vw;
        }

            .page-about .detail-mission .detail .detail-content-2 {
                padding-top: 5vw;
            }

            .page-about .detail-mission .detail .detail-content {
                padding: 0 15px;
            }

                .page-about .detail-mission .detail .detail-content .sub-title {
                    margin-bottom: 5vw;
                }

            .page-about .detail-mission .detail .detail-img {
                margin-bottom: 5vw;
            }

                .page-about .detail-mission .detail .detail-img img {
                    width: 100%;
                }


    .page-about .culture {
        padding-bottom: 10vw;
    }

        .page-about .culture .container {
            padding: 0;
        }

        .page-about .culture .title {
            text-align: center;
            margin-bottom: 5vw;
        }

        .page-about .culture .culture-banner {
            padding: 0;
        }

            .page-about .culture .culture-banner .group-culture-circle .culture-circle {
                margin: 5vw auto;
                box-shadow: 5px 0 10px hsla(0,0%,45.5%,.25);
            }

                .page-about .culture .culture-banner .group-culture-circle .culture-circle .culture-circle-content {
                    text-align: center;
                    margin: 0;
                }

                    .page-about .culture .culture-banner .group-culture-circle .culture-circle .culture-circle-content img {
                        margin: 0 auto 2vw;
                    }

    .page-about .banner-2 .group-content {
        width: 90%;
    }

    .page-about .team .team-title {
        text-align: center;
        background: #dbdbdb;
        position: relative;
    }

        .page-about .team .team-title:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 70px solid #dbdbdb;
        }

    .page-about .team .team-info {
        padding-top: 10vw;
        flex-direction: column;
    }

        .page-about .team .team-info .team-info-content {
            padding: 5vw 0;
        }

        .page-about .team .team-info .team-info-social .social {
            padding-bottom: 15px;
        }

            .page-about .team .team-info .team-info-social .social span {
                padding-left: 10px;
            }

    .page-about .team .team-member .team-member-inner {
        padding: 10vw 0;
    }

        .page-about .team .team-member .team-member-inner .team-member-info {
            margin: 0 auto 5vw;
        }

    .page-about .final {
        margin: 5vw 0;
    }

        .page-about .final .detail {
            flex-direction: column;
            margin-bottom: 5vw;
        }

            .page-about .final .detail .detail-content {
                margin-bottom: 5vw;
            }

        .page-about .final .detail-2 {
            flex-direction: column-reverse;
        }

        .page-about .final .detail {
            flex-direction: column;
            margin-bottom: 5vw;
        }

            .page-about .final .detail .detail-content {
                margin-bottom: 5vw;
            }

        .page-about .final .detail {
            flex-direction: column;
            margin-bottom: 5vw;
        }

            .page-about .final .detail .detail-content {
                margin-bottom: 5vw;
            }

    .page-about .culture .culture-banner .group-culture-circle .culture-circle .culture-circle-content div {
        padding: 0 5vw;
    }
}

@media (max-width: 767px) {
    .footer3 .inner {
        margin: 10px !important;
    }

    .support_fixed {
        position: fixed;
        bottom: 90px !important;
        right: 5px !important;
        z-index: 90;
    }

    .page-about .detail-mission .detail .detail-content .title, .page-about .mission .mission-content .title, .title {
        font-size: 12.5vw;
    }

    .page-about .mission .mission-content .desc, .page-about .mission .mission-content .title {
        margin-bottom: 5vw;
    }

    .page-about .mission .mission-content .desc, .page-about .mission .mission-content .title {
        margin-bottom: 5vw;
    }

    .desc, .page-about .team .team-member .team-member-content .title, .position {
        font-size: 5vw;
    }

    .page-about .detail-mission {
        margin-top: 0;
    }

        .page-about .detail-mission .detail {
            margin-top: 20vw;
            margin-bottom: 0;
        }

            .page-about .detail-mission .detail .detail-img {
                width: 100%;
                margin-right: 0;
            }

            .page-about .detail-mission .detail .detail-content {
                width: 100%;
            }

                .page-about .detail-mission .detail .detail-content .title, .page-about .mission .mission-content .title, .title {
                    font-size: 12.5vw;
                }

                .page-about .detail-mission .detail .detail-content .title {
                    margin-top: 10vw;
                    margin-bottom: 10vw;
                }

    .page-about .detail .detail-content .sub-title, .page-about .final .detail .detail-content .title, .page-about .team .team-info .team-info-content .title, .page-about .team .team-title {
        font-size: 10vw;
    }

    .desc, .page-about .team .team-member .team-member-content .title, .position {
        font-size: 5vw;
    }

    .page-about .detail-mission .detail-2 {
        margin-top: 5vw;
    }

    .page-about .detail-mission .detail {
        margin-top: 20vw;
        margin-bottom: 0;
    }

        .page-about .detail-mission .detail .detail-content {
            width: 100%;
        }

    .page-about .detail .detail-content .sub-title, .page-about .final .detail .detail-content .title, .page-about .team .team-info .team-info-content .title, .page-about .team .team-title {
        font-size: 10vw;
    }

    .page-about .detail-mission .detail .detail-img {
        width: 100%;
        margin-right: 0;
    }

    .page-about .culture {
        padding-bottom: 10vw;
    }

        .page-about .culture .container {
            padding: 0;
        }

        .page-about .culture .title {
            text-align: center;
            margin-bottom: 5vw;
        }

        .page-about .culture .culture-banner .group-culture-circle .culture-circle {
            width: 90vw;
            height: 90vw;
        }

    .page-about .banner-2 {
        background: url(../img/banner2.jpg) no-repeat 50%;
        background-size: cover;
        min-height: 95vw;
        position: relative;
    }

        .page-about .banner-2 .group-content {
            width: 100%;
        }

            .page-about .banner-2 .group-content .title {
                font-size: 8vw;
            }

            .page-about .banner-2 .group-content .title {
                padding: 0 5vw;
            }

    .page-about .detail .detail-content .sub-title, .page-about .final .detail .detail-content .title, .page-about .team .team-info .team-info-content .title, .page-about .team .team-title {
        font-size: 10vw;
    }

    .page-about .team .team-title {
        padding: 5vw 0;
    }

    .page-about .team .team-info {
        padding-top: 25vw;
    }

        .page-about .team .team-info img {
            width: 100%;
        }

        .page-about .team .team-info .team-info-content {
            padding: 5vw 0;
        }

            ) .page-about .detail .detail-content .sub-title, .page-about .final .detail .detail-content .title, .page-about .team .team-info .team-info-content .title, .page-about .team .team-title {
                font-size: 10vw;
            }

            .page-about .team .team-info .team-info-content .title {
                padding-bottom: 2vw;
            }

            .page-about .team .team-info .team-info-content .position {
                font-size: 7vw;
            }

    .desc, .page-about .team .team-member .team-member-content .title, .position {
        font-size: 5vw;
    }

    .page-about .team .team-info .team-info-social .social {
        padding-bottom: 15px;
    }

        .page-about .team .team-info .team-info-social .social img {
            width: auto;
        }

    .page-about .team .team-info img {
        width: 100%;
    }

    .page-about .team .team-info .team-info-social .social span {
        padding-left: 5vw;
    }

    .page-about .team .team-member .team-member-inner {
        padding: 10vw 0;
    }

        .page-about .team .team-member .team-member-inner .team-member-info {
            margin: 0 0 5vw;
            max-width: 100%;
            height: 65vw;
            max-height: 65vw;
            background: #fff;
        }

            .page-about .team .team-member .team-member-inner .team-member-info img {
                width: 100%;
            }

            .page-about .team .team-member .team-member-inner .team-member-info .team-member-content {
                background: none;
                padding: 5vw 3vw 10vw;
            }

    ) .desc, .page-about .team .team-member .team-member-content .title, .position {
        font-size: 5vw;
    }

    .page-about .team .team-member .team-member-content .position {
        font-size: 4vw;
    }

    .page-about .detail .detail-content .sub-title, .page-about .final .detail .detail-content .title, .page-about .team .team-info .team-info-content .title, .page-about .team .team-title {
        font-size: 10vw;
    }

    .page-about .final .detail .detail-content .title {
        margin-bottom: 5vw;
    }

    .page-about .final .detail .detail-content .desc {
        font-size: 6vw;
    }

    .page-about .final .detail .detail-img img {
        width: 100%;
    }
}

.page-about .mission .mission-content {
    text-align: center;
    margin: 50px auto 75px;
}

@media (max-width: 767px) {
    .page-about .detail-mission .detail .detail-content .title, .page-about .mission .mission-content .title, .title {
        font-size: 12.5vw;
    }
}


.page-about .desc, .page-about .position, .page-about .title {
    color: #454545;
}

.title {
    font-size: 32px;
}

.title {
    font-family: MontserratBold,sans-serif;
}


.page-about .desc {
    font-size: 18px;
    line-height: 1.5;
}

.page-about .desc, .page-about .position, .page-about .title {
    color: #454545;
}


.desc, .page-about .team .team-member .team-member-content .title, .position {
    font-size: 24px;
}

.desc {
    font-family: "Montserrat",sans-serif;
}


.page-about .detail-mission {
    margin-top: 115px;
}


    .page-about .detail-mission .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 105px;
    }

        .page-about .detail-mission .detail .detail-img {
            width: 40%;
            margin-right: 5%;
        }

.page-about img {
    max-width: none !important;
}


.page-about .detail-mission .detail .detail-content {
    padding-left: 15px;
    width: 55%;
}


    .page-about .detail-mission .detail .detail-content .title {
        font-size: 50px;
    }


    .page-about .detail-mission .detail .detail-content .sub-title {
        margin-bottom: 40px;
    }


.page-about .detail .detail-content .sub-title, .page-about .team .team-info .team-info-content .title {
    font-size: 30px;
}

.sub-title {
    font-family: MontserratSemiBold,sans-serif;
}

.page-about .detail .desc {
    font-size: 16px;
    line-height: 1.5;
}

.page-about .desc {
    font-size: 18px;
    line-height: 1.5;
}

.page-about .desc, .page-about .position, .page-about .title {
    color: #454545;
}


.desc, .page-about .team .team-member .team-member-content .title, .position {
    font-size: 24px;
}

.page-about .detail-mission .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

    .page-about .detail-mission .detail .detail-content-2 {
        padding-left: 0;
        padding-right: 6%;
        padding-top: 40px;
    }

    .page-about .detail-mission .detail .detail-content {
        padding-left: 15px;
        width: 55%;
    }


        .page-about .detail-mission .detail .detail-content .sub-title {
            margin-bottom: 40px;
        }

.page-about .detail .detail-content .sub-title, .page-about .team .team-info .team-info-content .title {
    font-size: 30px;
}

.sub-title {
    font-family: MontserratSemiBold,sans-serif;
}


.page-about .detail-mission .detail .detail-img {
    width: 40%;
    margin-right: 5%;
}



.page-about img {
    max-width: none !important;
}



.page-about .culture {
    padding-bottom: 100px;
}


    .page-about .culture .title {
        text-align: center;
    }

    .page-about .culture .culture-banner {
        background: url(/images/map.jpg) no-repeat 50%;
        background-size: cover;
        padding: 100px 0;
    }

        .page-about .culture .culture-banner .group-culture-circle {
            display: flex;
            justify-content: space-between;
        }



            .page-about .culture .culture-banner .group-culture-circle .culture-circle {
                width: 325px;
                height: 325px;
                background: #fff;
                border-radius: 999px;
                box-shadow: 12px 12px 12px hsla(0,0%,45.5%,.25);
            }


                .page-about .culture .culture-banner .group-culture-circle .culture-circle .culture-circle-content {
                    text-align: center;
                    padding-top: 60px;
                }


                    .page-about .culture .culture-banner .group-culture-circle .culture-circle .culture-circle-content img {
                        margin-bottom: 15px;
                    }

.page-about .banner-2 {
    background: url(../img/banner2.jpg) no-repeat 50%;
    background-size: cover;
    min-height: 565px;
    position: relative;
}




    .page-about .banner-2 .group-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }


        .page-about .banner-2 .group-content .title {
            color: #fff;
            font-size: 32px;
            line-height: 1.5;
        }




.page-about .team .team-title {
    text-align: center;
    background: #dbdbdb;
    position: relative;
}


    .page-about .team .team-title:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 70px solid #dbdbdb;
    }



.page-about .team .team-info {
    padding-top: 130px;
    display: flex;
    align-items: center;
}



    .page-about .team .team-info .team-info-content {
        padding-left: 60px;
    }



        .page-about .detail .detail-content .sub-title, .page-about .team .team-info .team-info-content .title {
            font-size: 30px;
        }


.page-about .desc, .page-about .position, .page-about .title {
    color: #454545;
}


.desc, .page-about .team .team-member .team-member-content .title, .position {
    font-size: 24px;
}

.position {
    font-family: MontserratMedium,sans-serif;
}

.page-about .team .team-info .team-info-content ul {
    list-style: none;
    padding: 15px 0 10px;
    margin-left: 0;
}

    .page-about .team .team-info .team-info-content ul li {
        line-height: 1.4;
    }



.page-about .team .team-info .team-info-social .social {
    padding-bottom: 15px;
    display: table;
}


    .page-about .team .team-info .team-info-social .social img {
        max-width: 25px !important;
    }




    .page-about .team .team-info .team-info-social .social span {
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
    }

.team-info .team-info-social span {
    font-size: 14px;
}

.team-info .team-info-social span {
    font-family: MontserratItalic,sans-serif;
}

.page-about .team .team-member {
    background: #f2f2f2;
}



    .page-about .team .team-member .team-member-inner {
        padding: 90px 0;
        display: flex;
    }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


.page-about .team .team-member .team-member-inner .team-member-info {
    box-shadow: 12px 12px 12px hsla(0,0%,47.1%,.25);
    max-width: 328px;
    margin-bottom: 50px;
}



    .page-about .team .team-member .team-member-inner .team-member-info .team-member-content {
        background: #fff;
        padding: 15px 30px 30px;
    }


.desc, .page-about .team .team-member .team-member-content .title, .position {
    font-size: 24px;
}


.page-about .team .team-member .team-member-content .position {
    font-size: 18px;
}


.page-about .final {
    margin: 50px 0;
}


    .page-about .final .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }



        .page-about .final .detail .detail-content .title {
            margin-bottom: 31px;
        }


.page-about .detail .desc {
    font-size: 16px;
    line-height: 1.5;
}



.page-about .final .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}



    .page-about .final .detail .detail-content .title {
        margin-bottom: 31px;
    }


.page-about .detail .desc {
    font-size: 16px;
    line-height: 1.5;
}

.page-about .final .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}



.page-about .detail .desc {
    font-size: 16px;
    line-height: 1.5;
}

/*@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
/*** END ABOUT US */
.img-products-details {
    text-align: center;
}

    .img-products-details img {
        /* width: auto;*/
        max-width: 100%;
        border: 0;
    }

.imgDetailFull {
    width: 100%;
    margin: auto;
}

fa-angle-up:before {
    content: "\f106";
}

.footer3 .inner {
    margin: 10px 30px;
}

.all_box .section-inner {
    padding-top: 60px;
    width: 100%;
}

    .all_box .section-inner > * {
        font-family: "Montserrat",sans-serif;
    }

.archive-title {
    text-align: center;
}

.img-banner-cover {
    min-height: 255px;
    width: 100%;
    height: 100%;
    display: block
}

.breadcrumbs-page {
    padding-left: 45px;
}

.img-related {
    display: block;
    overflow: hidden;
}
