#logo,#logo img,nav#main-nav .nav-logo img,.non-overlay .open-nav,.non-overlay:not(.sticky-header) nav#traditional-nav>ul>li>a,.non-overlay #menu-cart i.cart-icon{height:px;line-height:px}header.sticky-header #logo{max-height:px}.overlay-bottom:not(.sticky-header) .open-nav,.overlay-bottom:not(.sticky-header) nav#traditional-nav>ul>li>a,.overlay-bottom:not(.sticky-header) #menu-cart i.cart-icon{margin-top:-20px}.overlay-bottom:not(.sticky-header) nav#traditional-nav ul li .sub-menu,.overlay-bottom:not(.sticky-header) #menu-cart .menu-cart-content{top:px}header.non-overlay+#page-title,header.non-overlay+#page-body{margin-top:40px}.masonry.masonry-spaced{width:calc(113% - 10px);margin-left:5px;margin-bottom:-5px}.masonry-spaced .masonry-item{margin-right:5px;margin-bottom:5px}.portfolio-thumb .imgoverlay:after,.portfolio-carousel-item .imgoverlay:after{background:#fff}#pseudo-header{height:80px}.bordered #bodyborder-top,.bordered #bodyborder-bottom,.bordered #bodyborder-left,.bordered #bodyborder-right{background:#f0f0f0}@media only screen and (max-width:640px){.bordered .sticky-header,.bordered.big-border .sticky-header{background:#f0f0f0}}@media only screen and (max-width:480px){#logo img{width:80px;height:auto}}nav#traditional-nav ul li a{font-weight:400;font-size:14px}
.sub-menu{visibility: hidden;} .sub-menu:hover{visibility: visible;display:relative !important}@media (min-width: 992px).mbr-col-lg-8 .inner_left .title {font-size: 26px;}@media (min-width: 992px).inner_left .title span.main {font-size: 56px;}@media (min-width: 992px).inner_left .title span.tit {font-size: 42px;}.inner_left .title span.tit {font-family: 'MTD-Portrait-Script-Bounce';font-size: 50px;}.inner_left .title span {display: block;line-height: 1;}@media (min-width: 992px).inner_left .title {font-size: 26px;}.inner_left .title span.main {text-transform: uppercase;font-weight: 700;color: #b29871;font-size: 70px;} @media (min-width: 992px).inner_left .title span.sub {font-size: 26px;}.center {text-align: center;}.collection_home {padding: 65px 0 75px;position: relative;color: #fff;background-color: #151515;}
.background bg_section {background-image: url('App_Themes/nntl/img/bgPhongCach.jpg');}
.title_home2.white .title {
    color: #fff;
}
@media screen and (max-width: 1280px) and (min-width: 1024px)
.image-footer img {
    max-height: 80px;
}
.image-footer img {
    max-height: 80px;
    width: auto;
    height: auto;
    object-fit: contain;
	display:block;
	text-align: left;
}

.footer_top {
    padding: 10px 0 10px;
    border-bottom: 1px solid #d3d3d38c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	color: #fff;
}
@media (max-width: 1536px)
.social_footer .capt, .hotline_footer .capt {
    font-size: 18px;
}
.hotline_footer .capt {
    text-transform: uppercase;
    font-size: 20px;
}
.hotline_footer .hotline {
    font-size: 35px;
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.hotline_footer .hotline i {
    width: 40px;
    height: 40px;
    color: #151515;
    background: #c7af73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 10px;
}
fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-phone:before {
    content: "\f095";
}
.social_footer {
    text-align: center;
}
@media (max-width: 1536px)
.social_footer .capt, .hotline_footer .capt {
    font-size: 18px;
}

.social_footer .capt {
    text-transform: uppercase;
    font-size: 20px;
}
.social_footer .list {
    display: flex;
    align-items: center;
    justify-content: center;
}
social_footer .list a {
    margin: 10px 15px 5px;
}
media (max-width: 1536px)
.social_footer .list img {
    width: 34px;
    height: 34px;
}
.social_footer .list img {
    width: 38px;
    height: 38px;
    object-fit: contain;
	margin: 10px;
}
img {
    max-width: 100%;
    border: none;
    height: auto;
	vertical-align: middle;
}
.footer_main2 {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
	color: #fff;
}
.footer_main2 .widget {
    max-width: 50%;
    padding: 0 15px;
}
.info_footer .image {
    margin-bottom: 30px;
}
@media (max-width: 1536px)
.info_footer .image img {
    max-height: 80px;
}
.info_footer .image img {
    max-height: 80px;
    width: auto;
    height: auto;
    object-fit: contain;
}
.info_footer .support {
    margin-top: 15px;
}
.info_footer .support .it {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.info_footer .support .it img {
    height: 24px;
    width: 24px;
    object-fit: none;
    margin-right: 12px;
}
.footer_main2 .widget {
    max-width: 50%;
    padding: 0 15px;
}
/** Ly do lua chon */

@media (max-width: 768px)
.criteria_home {
    padding: 30px 0 30px;
}
.criteria_home {
    padding: 100px 0;
    position: relative;
}
@media (max-width: 768px)
.criteria_home .item {
    width: 100%;
    padding: 20px 0 10px;
}

@media (max-width: 1536px)
.criteria_home .item .number {
    font-size: 42px;
}
@media (max-width: 768px)
.criteria_home .item .box {
    padding: 10px;
}
@media (max-width: 768px)
.criteria_home .item .number {
    font-size: 32px;
}
@media (max-width: 1536px)
.criteria_home .item .box {
    padding: 30px 0 0;
}
@media (max-width: 768px)
.criteria_home .title {
    font-size: 22px;
    margin-bottom: 0;
}
@media (max-width: 768px)
.criteria_home .list {
    padding-right: 0;
}
@media (max-width: 1536px)
.criteria_home .title {
    font-size: 36px;
}
@media (max-width: 1536px)
.criteria_home .title {font-size: 36px;}
.criteria_home .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.criteria_home .title {
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.criteria_home .container-fluid {
    position: relative;
    z-index: 2;
}
.container-fluid {
    padding: 0 50px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid:before {
    display: table;
    content: " ";
}
.container-fluid:after{
	clear: both;
}
@media (max-width: 1536px)
.criteria_home .title span {
    font-size: 72px;
}
.criteria_home .title span {
    font-size: 100px;
    color: #bea887;
    margin-right: 10px;
    font-style: italic;
    line-height: 80px;
    padding-bottom: 15px;
}
.criteria_home .list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 70px;
}
.criteria_home .item {
    width: 20%;
    padding: 0 0 50px 40px;
    position: relative;
}
@media (max-width: 1536px)
.criteria_home .item .number {
    font-size: 42px;
}
.criteria_home .item .number {
    border-radius: 50%;
    background-image: -moz-linear-gradient(57deg,#f3f3f3 0%,#fff 100%);
    background-image: -webkit-linear-gradient(57deg,#f3f3f3 0%,#fff 100%);
    background-image: -ms-linear-gradient(57deg,#f3f3f3 0%,#fff 100%);
    width: 170px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 170px;
    box-shadow: rgb(0 0 0/30%) 0px 19px 38px, rgb(0 0 0/7%) 12px 8px 14px;
}
.criteria_home .item .number .num {
    font-size: 180px;
    font-weight: 700;
    position: absolute;
    bottom: -15px;
    left: -6px;
    color: #bea887;
    z-index: 1;
    line-height: 1;
}
.criteria_home .item .number .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.1;
    z-index: 3;
}
.criteria_home .item .number .bgitem {
    display: block;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    background-image: -moz-linear-gradient(-159deg,#f3f3f3 0%,#fff 100%);
    background-image: -webkit-linear-gradient(-159deg,#f3f3f3 0%,#fff 100%);
    background-image: -ms-linear-gradient(-159deg,#f3f3f3 0%,#fff 100%);
    content: '';
    z-index: 2;
    overflow: hidden;
}
.criteria_home .item .number .num2 {
    font-size: 180px;
    font-weight: 700;
    position: absolute;
    bottom: -21px;
    left: -12px;
    color: #d3bb96;
    z-index: 1;
    line-height: 1;
}
@media (max-width: 1536px)
.criteria_home .item .box {
    padding: 30px 0 0;
}
.criteria_home .item .box {
    padding: 35px 0 0;
    position: relative;
    z-index: 2;
    text-align: justify;
    text-align-last: center;
}
.criteria_home .item .box .text {
    font-size: 15px;
    line-height: 1.6;
}
@media (max-width: 768px)
.criteria_home .item .number {
    font-size: 32px;
}
/***/
