<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<!--http://chiencong.com/su-dung-url-rewrite-trong-asp-net -->
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="Quan-tri" virtualUrl="^/Admin.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="Trangchu" virtualUrl="^/Trang-chu.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx" ignoreCase="true"/>
			<add name="Tintuc" virtualUrl="^/Tin-tuc.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ArticleList&amp;cateID=1" ignoreCase="true"/>
			<add name="SanPham" virtualUrl="^/San-pham.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ArticleList&amp;cateID=2" ignoreCase="true"/>
			<add name="SanPhamPaging" virtualUrl="^/San-pham-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ArticleList&amp;cateID=2&amp;pageNumber=$1" ignoreCase="true"/>
			<add name="TintucPaging" virtualUrl="^/Tin-tuc-p(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ArticleList&amp;cateID=1&amp;pageNumber=$1" ignoreCase="true"/>
			
			<add name="Chi-tiet-dich-vu" virtualUrl="^/Bai-viet-(.*)-(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ProjectDetail&amp;title=$1&amp;serviceID=$2" ignoreCase="true"/>
			<add name="LienHe" virtualUrl="^/Lien-he.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=Reservation" ignoreCase="true"/>
			
			<!--<add name="Chi-tiet-dich-vu" virtualUrl="^/Chi-tiet-(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=NewsDetails&amp;serviceID=$1" ignoreCase="true"/>
			<add name="Tonghop" virtualUrl="^/Tonghop.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=5" ignoreCase="true"/>
			<add name="Ngoaingu" virtualUrl="^/Ngoaingu.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=4" ignoreCase="true"/>
			<add name="Toanhoc" virtualUrl="^/Toanhoc.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=3" ignoreCase="true"/>
			<add name="Tiengviet" virtualUrl="^/Tiengviet.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=2" ignoreCase="true"/>
			<add name="Amnhac" virtualUrl="^/Amnhac.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=1" ignoreCase="true"/>
			<add name="Monhoc" virtualUrl="^/Monhoc.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ListSubject&amp;cateID=2" ignoreCase="true"/>
			<add name="Bangvang" virtualUrl="^/Bangvang.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=BangVang" ignoreCase="true"/>
			<add name="ChitietBangVang" virtualUrl="^/Bang-vang-chi-tiet-(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=BangVangCT&amp;goldId=$1" ignoreCase="true"/>
			<add name="Canhan" virtualUrl="^/Canhan.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ListNews&amp;cateID=3" ignoreCase="true"/>
			<add name="Thele" virtualUrl="^/Thele.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ListNews&amp;cateID=5" ignoreCase="true"/>
			<add name="Chi-tiet-mon-hoc" virtualUrl="^/Mon-hoc-chi-tiet-(.*).htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=SubjectDetails&amp;serviceID=$1" ignoreCase="true"/>
			<add name="Chuyen-muc-dich-vu" virtualUrl="^/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Index.aspx?page=ListNews&amp;cateID=$2" ignoreCase="true"/>-->

		</rewrites>
	</urlrewritingnet>

	<appSettings>
		<add key="httpLink" value=""/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="emailSender" value="nmnchinhhang@outlook.com"/>
		<add key="passwordSender" value="nMn@2023G#"/>
		<add key="hostEmail" value="smtp-mail.outlook.com"/>
		<add key="destinationTo" value="kienng2012@gmail.com"/>
		<add key="destinationCC" value="kenctit@gmail.com,kien@vnet.vn"/>
	</appSettings>
	<connectionStrings>
		<remove name="SQLGamePortalHTS"/>
		<add name="SQLGamePortalHTS" connectionString="Persist Security Info=False;database=ngoinhatl;server=10.19.10.44;user id=sa;password=Hanoi123$;Connection Timeout=140;"/>
		<!--<add name="SQLGamePortalHTS" connectionString="Persist Security Info=False;database=shop;server=.;user id=sa;password=Hanoi123$;Connection Timeout=140;"/>-->
		<!--<add name="SQLGamePortalHTS" connectionString="Data Source=REALTV;Persist Security Info=True;User ID=expc;Password=expc" providerName="System.Data.OracleClient" />-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<!-- duoc phep upload file bao nhiey byte-->
		<httpRuntime maxRequestLength="52428800" targetFramework="4.8" requestValidationMode="2.0" executionTimeout="1600" requestLengthDiskThreshold="2147483647"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<!-- Fix loi nhập cú pháp trong CMS-->
		<!--<httpRuntime requestValidationMode="2.0" />-->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
		
       
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="404.htm" />
		</customErrors>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>

	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
			<remove name="UrlRoutingModule"/>
			<!--<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</modules>
		<handlers>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<remove name="UrlRoutingHandler"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="Index.aspx"/>
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false"/>

		<httpErrors errorMode="Custom"><remove statusCode="404" /><error statusCode="404" path="/404.htm" responseMode="ExecuteURL" />	</httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800" /><!--50MB-->
			</requestFiltering>
		</security>
		 <!--enable Gzip in aspx https://stackoverflow.com/questions/552317/how-to-implement-gzip-compression-in-asp-net -->
		
		<httpCompression>
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
	</system.webServer>
	<devExpress>
		<settings rightToLeft="false"/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
		<themes enableThemesAssembly="true"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
</configuration>